@media (max-width: 450px){
    .container .info h1 {
        font-size: 2.5rem;
        line-height: 40px;
        width: 100%;   
    }

}



@media (max-width: 650px) {
    body {
        background: url(../images/bg-mobile.svg) top center no-repeat;        
        background-color: var(--backgound-color);
        padding: 0;
        background-size: contain;
        height: 100%;        
        align-items: center;
        
    }
    
    .header {
        height: 10%;   
        margin: 20px;  
        align-self: start; 
    }
    
    .header img {
        width: 150px;
    }

    .container {        
        display: flex;
        flex-direction: column; 
        padding: 5px;
        text-align: center; 
        align-items: center;  
    }

    .container img {
        padding: 15px;
        width: 70%;
    }

    .container .info {
        margin: 25px;
    }


    .container .info h1 {
        font-size: 2.5rem;
        line-height: 40px;
        width: 100%;   
    }

    .container .info p {
        font-size: 1.6rem;
        margin-bottom: 25px;
    
    }

    .container .info .register-btn {
        padding: 18px 100px;
        border-radius: 50px;
        transition: 0.3s;
        font-size: 1.6rem;
        color: var(--backgound-color);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
        margin-bottom: 50px;
    
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 80%;
        bottom: 0 auto;                          
    }

    .footer .social{       
        align-self: flex-end;       
        margin-bottom: 20px;
        align-self: center;
    }

    .footer .social a{    
        margin: 10px;
        color: #fff; 
        font-size: 3rem;  
        transition: 0.3s;
        
        
    }

    .footer .attribution {
        font-size: 1rem;
        text-align: center;    
        
    }

}

