html {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    color: #fff;
}

body {
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-color: var(--backgound-color);    
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;      
}

.header {
    display: flex;
    align-items: left;
    margin: 40px;
    width: 75%;    
}

.header img {
    width: 265px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1440px;
           
}

.container img {
    width: 100%;
}

.container .info {
    margin: 30px;
}

.container .info h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 60px;
    margin-bottom: 25px;
}

.container .info p {
    font-size: 2rem;
    margin-bottom: 25px;
}



.container .info .register-btn {
    padding: 15px 50px;
    border-radius: 50px;
    transition: 0.3s;
    font-size: 2rem;
    color: var(--backgound-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.container .info .register-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin-top: 8%;
    
}

.footer .social{  
    display: flex;
    margin-bottom: 15px;
    align-self: flex-end;
        
         
    
}

.footer .social a{    
    margin: 15px;
    color: #fff; 
    font-size: 2.5rem;  
    transition: 0.3s;
    color: #fff;
    height: 50px;
    width: 50px;
    border: solid 1px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer .social a:hover {
    color: var(--hover-color);
    border: solid 1px var(--hover-color);
}

.footer .attribution {
    font-size: 1.5rem;
    text-align: center;     
}

.attribution a {
    color: hsl(56, 45%, 44%);
}